@model ExpressVoiture.Shared.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Connexion";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" placeholder="name@example.com" />
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <label asp-for="Password">Mot de passe</label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <input type="hidden" asp-for="ReturnUrl" />

    <button type="submit" class="btn btn-primary w-100">Se connecter</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
